@keyframes page_fly_bird_0_animate {
    0% {
        left: calc(750/750.0*100%);
        opacity: 1;
        transform: scale(1);
    }
    10%{
        transform: scale(0.8);
    }
    20%{
        transform: scale(1);
    }
    30%{
        transform: scale(0.8);
    }
    40%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    60%{
        transform: scale(1);
    }
    70%{
        transform: scale(0.8);
    }
    80%{
        transform: scale(1);
    }
    90%{
        transform: scale(0.8);
    }
    97% {
        left: calc(-114/750.0*100%);
        opacity: 1;
    }
    98%{
        left: calc(-114/750.0*100%);
        opacity: 0;
    }
    99%{
        left: calc(750/750.0*100%);
        opacity: 0;
    }
    100%{
        left: calc(750/750.0*100%);
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes page_fly_bird_1_animate {
    0% {
        left: calc(750/750.0*100%);
        opacity: 1;
        transform: scale(1);
    }
    10%{
        transform: scale(0.8);
    }
    20%{
        transform: scale(1);
    }
    30%{
        transform: scale(0.8);
    }
    40%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    60%{
        transform: scale(1);
    }
    70%{
        transform: scale(0.8);
    }
    80%{
        transform: scale(1);
    }
    90%{
        transform: scale(0.8);
    }
    97% {
        left: calc(-80/750.0*100%);
        opacity: 1;
    }
    98%{
        left: calc(-80/750.0*100%);
        opacity: 0;
    }
    99%{
        left: calc(750/750.0*100%);
        opacity: 0;
    }
    100%{
        left: calc(750/750.0*100%);
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes page_loading_flag_animate {
    from{

    }
    to{
        left: calc((551 + 97/2)/750.0*100%);
    }
}
@keyframes page_finish_fade_out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}
@keyframes page_finish_fade_in {
    from{
        opacity: 0;
        display: none;
    }
    to{
        opacity: 1;
        display: block;
    }
}
@keyframes page_dom_rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes page_word_fade_in {
    from{
        opacity: 0;
        left:calc(-60/750.0*100%);
        top: calc(-60/1334.0*100%);
    }
    to{
        opacity: 1;
    }
}

@keyframes page_rotate_y {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}


@keyframes page_fly_bird_0_animate_plus {
    0% {
        left: calc(750/750.0*100%);
        opacity: 1;
        transform: scale(1);
    }
    10%{
        transform: scale(0.8);
    }
    20%{
        transform: scale(1);
        left: calc(652/750.0*100%);
        top: calc(423/1334.0*100%);
    }
    30%{
        transform: scale(0.8);
    }
    40%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
        left: calc(352/750.0*100%);
        top: calc(523/1334.0*100%);
    }
    60%{
        transform: scale(1);
    }
    70%{
        transform: scale(0.8);
        top: calc(723/1334.0*100%);
    }
    80%{
        transform: scale(1);
    }
    90%{
        transform: scale(0.8);
        top: calc(823/1334.0*100%);
    }
    97% {
        left: calc(-114/750.0*100%);
        opacity: 1;
    }
    98%{
        left: calc(-114/750.0*100%);
        opacity: 0;
    }
    99%{
        left: calc(750/750.0*100%);
        opacity: 0;
    }
    100%{
        left: calc(750/750.0*100%);
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes page_fly_bird_1_animate_plus {
    0% {
        left: calc(750/750.0*100%);
        top: calc(823/1334.0*100%);
        opacity: 1;
        transform: scale(1);
    }
    10%{
        transform: scale(0.8);
        
    }
    20%{
        transform: scale(1);
    }
    30%{
        transform: scale(0.8);
    }
    40%{
        transform: scale(1);
        top: calc(723/1334.0*100%);
    }
    50%{
        transform: scale(0.8);
    }
    60%{
        transform: scale(1);
    }
    70%{
        transform: scale(0.8);
        top: calc(523/1334.0*100%);
    }
    80%{
        transform: scale(1);
    }
    90%{
        transform: scale(0.8);
    }
    97% {
        left: calc(-80/750.0*100%);
        opacity: 1;
    }
    98%{
        left: calc(-80/750.0*100%);
        opacity: 0;
    }
    99%{
        left: calc(750/750.0*100%);
        opacity: 0;
    }
    100%{
        left: calc(750/750.0*100%);
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes page_flag_up{
    from{
        top: calc(719/1334.0*100%);
    }
    to{
        top: calc(200/1334.0*100%);
    }
}

@keyframes page_scale_in{
    from{
        opacity: 0;
        transform: scale(0.2);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}