*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: black;
    align-items: center;
    display: flex;
    justify-content: center;
}
.page{
    width: 100%;
    height: 100%;
    background: white;
    background-image: url(..//img/background.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.page_left_top{
    position: absolute;
    left: calc(-7/750.0*100%);
    top: calc(13/1334.0*100%);
    width: calc(200/750.0*100%);
    height: calc(115/1334.0*100%);
    background-image: url(../img/left_top.png);
    background-size: cover;
}
.page_flag{
    position: absolute;
    left: calc(376/750.0*100%);
    top: calc(847/1334.0*100%);
    width: calc(100/750.0*100%);
    height: calc(83/1334.0*100%);
    background-image: url(../img/flag.gif);
    background-size: cover;
}
.page_flag_base{
    position: absolute;
    left: calc(182/750.0*100%);
    top: calc(868/1334.0*100%);
    width: calc(386/750.0*100%);
    height: calc(466/1334.0*100%);
    background-image: url(../img/flag_base.png);
    background-size: cover;
}
.page_bottom_center{
    position: absolute;
    left: calc(0/750.0*100%);
    top: calc(1069/1334.0*100%);
    width: calc(750/750.0*100%);
    height: calc(265/1334.0*100%);
    background-image: url(../img/bottom_center.png);
    background-size: cover;
}
.page_fly_bird_0{
    position: absolute;
    left: calc(552/750.0*100%);
    top: calc(323/1334.0*100%);
    width: calc(114/750.0*100%);
    height: calc(52/1334.0*100%);
    background-image: url(../img/fly_bird_0.png);
    background-size: cover;
    /* 1、设置动画名称 */
    animation-name: page_fly_bird_0_animate;
    /* 2、动画持续时间 */
    animation-duration: 4s;
    /* 3、动画执行速度 */
    animation-timing-function: linear;
    /* 4、等待时长 */
    /* animation-delay: 2s; */
    /* 5、设置动画播放次数 */
    animation-iteration-count: infinite;
    /* 6、设置动画是否反向播放 */
    animation-direction: normal;
    /* 7、动画结束时应用最后一帧 */
    animation-fill-mode: forwards;
}

.page_fly_bird_1{
    position: absolute;
    left: calc(584/750.0*100%);
    top: calc(377/1334.0*100%);
    width: calc(80/750.0*100%);
    height: calc(68/1334.0*100%);
    background-image: url(../img/fly_bird_1.png);
    background-size: cover;
    /* 1、设置动画名称 */
    animation-name: page_fly_bird_1_animate;
    /* 2、动画持续时间 */
    animation-duration: 5s;
    /* 3、动画执行速度 */
    animation-timing-function: linear;
    /* 4、等待时长 */
    /* animation-delay: 2s; */
    /* 5、设置动画播放次数 */
    animation-iteration-count: infinite;
    /* 6、设置动画是否反向播放 */
    animation-direction: normal;
    /* 7、动画结束时应用最后一帧 */
    animation-fill-mode: forwards;
}



